---
layout: default
title: News
navbar_title: News
---

{% assign news_by_year = site.news | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in news_by_year %}
        <h2 class="pt-4">{{ year.name }}</h2>
        <div class="my-0 p-3 bg-white shadow-sm rounded-xl">
            <ul class="list-unstyled mb-0">
                {% for item in year.items %}
                {% include widgets/news_row.html item=item last=forloop.last stripe_group=year.name %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
