---
layout: default
title: Research Projects
navbar_title: Research Projects
---

<div class="row">
    <div class="col-12">

        {% if site.data.research.ongoing_projects %}
        <h2 class="pt-2">Ongoing Research Projects</h2>
        <div class="my-0 p-3 bg-white shadow-sm rounded-xl">
            <ul class="list-unstyled mb-0">
                {% for item in site.data.research.ongoing_projects %}
                <li class="py-2 {% unless forloop.last %}border-bottom border-gray{% endunless %}">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
</div>
