{% if site.data.profile.education %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-graduation-cap"></i> Education
        <a href="{{ 'education' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    <div class="p-3 small">
        <ul class="list-unstyled mb-0">
            {% for item in site.data.profile.education %}
            <li class="media py-2 {% unless forloop.last %}border-bottom border-gray{% endunless %}">
                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 24px;" class="mr-3 mt-1">
                <div class="media-body">
                    <div class="d-flex">
                        <div class="font-weight-bold">{{ item.name }}</div>
                        <div class="ml-auto mt-auto pl-3 text-muted no-break"><em>{{ item.date }}</em></div>
                    </div>
                    <div class="text-muted">{{ item.degree }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
