{% if site.data.profile.education %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-graduation-cap"></i> Education
        <a href="{{ 'education' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    <div class="px-3 pb-1 small">
        {% for item in site.data.profile.education %}
        <div class="media py-2 {% unless forloop.last %}border-bottom border-gray{% endunless %}">
            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-2 mt-1">
            <div class="media-body">
                <div>{{ item.name }}</div>
                <div class="d-flex">
                    <div>{{ item.degree }}</div>
                    <div class="mt-auto ml-auto text-muted no-break"><em>{{ item.date }}</em></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
