{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-rss"></i> News
        <a href="{{ 'news' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    <div class="p-3 small">
        {% for year in news_by_year %}
        <div class="media {% unless forloop.last %}mb-3{% endunless %}">
            <div class="mr-3 mt-1 text-muted" style="min-width: 2.5em;">{{ year.name }}</div>
            <div class="media-body">
                <ul class="list-unstyled mb-0">
                    {% for item in year.items %}
                    <li class="d-flex py-1 {% unless forloop.last %}border-bottom border-gray{% endunless %}">
                        <div>{{ item.title }}</div>
                        <div class="ml-auto mt-auto pl-3 text-muted no-break"><i>{{ item.date | date: "%b %d" }}</i></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
