{% assign item = include.item %}
{% assign t = item.title %}
{% if t contains "Awarded" or t contains "Won " or t contains "Secured" or t contains "citations" or t contains "Scholarship" or t contains "scholarship" %}
{% assign news_icon = "fa-trophy" %}
{% elsif t contains "Joined as" or t contains "Promoted to" or t contains "Started working" %}
{% assign news_icon = "fa-briefcase" %}
{% elsif t contains "Attended" or t contains "Presented" or t contains "Participated" %}
{% assign news_icon = "fa-people-group" %}
{% elsif t contains "Defended thesis" or t contains "Graduated" %}
{% assign news_icon = "fa-graduation-cap" %}
{% elsif t contains "Reviewer" or t contains "Reviewed" %}
{% assign news_icon = "fa-magnifying-glass" %}
{% else %}
{% assign news_icon = "fa-newspaper" %}
{% endif %}
<li class="d-flex align-items-start news-row py-2 {% unless include.last %}mb-1{% endunless %}">
    <span class="news-icon mr-2 mt-1"><i class="fas {{ news_icon }}"></i></span>
    <div class="flex-grow-1">{{ item.title }}</div>
    <div class="ml-2 mt-1 text-muted no-break small">{{ item.date | date: "%b %d" }}</div>
</li>
