{% if site.data.skills %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-toolbox"></i> Technical Skills
        <a href="{{ 'education' | relative_url }}">(view details <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    <div class="p-3 small">
        <table class="table table-borderless table-sm mb-0">
            <tbody>
                {% for skill in site.data.skills %}
                <tr>
                    <td class="font-weight-bold text-nowrap align-top pr-3" style="width: 1%;">{{ skill.category }}</td>
                    <td>{{ skill.items }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
